* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'open-sans';
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 75% 5%;
  grid-template-areas: "header" "main" "footer";
  background-color: #D5D5D5;
}

header {
  grid-area: header;
  display: flex;
  justify-content:center;
  flex-direction: column;
  padding-left: 3%;
}

header>h1{
}

header>h2{
}

main {
  grid-area: main;
  /* background-color:green; */
  display: flex;
  height: 100%;
}

.row {
  display: flex;
  /* background-color:magenta; */
  height: 100%;
  width: 100%;

  justify-content: flex-start;
  align-items:center;
  margin: 0 3% 0 3%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex-direction: column;
  /* background-color:red; */
  /* border-style:solid; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  }

 img {
   padding: 1%;
 } 

figure {
  border-style: solid;
  background-color:brown;
  /* display: flex;
  justify-content: center;
  align-content:center;
  align-items:center;  */

}

div.column>figure>img.img-landscape{
  height: 150px;
  width: 150px;
  flex-grow:1;
}


div.column>figure>img.img-portrait{
  height: 500px;
  width: 250px;
  flex-grow:2;
}

img.img-landscape>figcaption{
  /* opacity: 1; */
}

figcaption.img{
  position: absolute;
  /* background-color: yellow; */
  /* margin: -113px 0px 0px 0px; */
  /* padding: 0px 27px; */
  /* opacity: 0.5; */
  display: hidden;
}

figcaption{
  display: none;
}

figcaption:hover{
 display: flex;
 opacity: 1;
  
}

figcaption>h1{
  font-size: 1em;
  margin: 10px;
}



img.img-portrait{
  max-width: 1100px;
  height:1%;
  width: 100%;
  flex:3;
}

img.img-landscape{
  max-width: 1100px;
  flex:1;
  flex-basis: 0;
  height:1%;
  width: 100%;
}

footer {
  /* padding: 32px; */
  grid-area: footer;
  /* background-color:blue; */
  min-width: 320px ;
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  align-content: center;
  }

footer>i {
  
  flex-shrink: 0;
}
/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  


} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 640px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  header {
    /* text-align: center; */
    /* padding: 32px; */
    grid-area: header;
    background-color:#D5D5D5;
    display: flex;
    justify-content:center;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: column;
  
  }
  
  header>h1{
    margin: 0;
    }
  
  header>h2{
    margin: 0;
  }
} */